<nav class="navbar navbar-dark bg-dark px-3 mb-4">
    <div class="container d-flex justify-content-center gap-4">
        <NavLink class="nav-link text-white fs-5" href="" Match="NavLinkMatch.All">Hem</NavLink>
        <NavLink class="nav-link text-white fs-5" href="books">Böcker</NavLink>
        <NavLink class="nav-link text-white fs-5" href="members">Medlemmar</NavLink>
        <NavLink class="nav-link text-white fs-5" href="loans">Lån</NavLink>
    </div>
</nav>