@page "/books"
@using LibrarySystem.Core
@using LibrarySystem.Data.Interfaces
@inject IBookRepository BookRepo
@rendermode InteractiveServer

<EditForm Model="newBook" OnValidSubmit="AddBook">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText @bind-Value="newBook.ISBN" placeholder="ISBN" />
	<InputText @bind-Value="newBook.Title" placeholder="Titel" />
	<InputText @bind-Value="newBook.Author" placeholder="Författare" />
	<InputNumber @bind-Value="newBook.PublishedYear" placeholder="Utgivningsår" />
	<button type="submit">Lägg till</button>
</EditForm>
@foreach (var book in books)
{
	<p>@book.Title - @book.Author <button @onclick="() => DeleteBook(book)">Ta bort</button></p>
}

@code {
	private List<Book> books = new();

	protected override async Task OnInitializedAsync()
	{
		books = await BookRepo.GetAllAsync();
	}

	private Book newBook = new Book("", "", "", 0);

	private async Task AddBook()
	{
		await BookRepo.AddAsync(newBook);
		books.Add(newBook);
		newBook = new Book("", "", "", 0);
	}
	private async Task DeleteBook(Book book)
	{
		await BookRepo.DeleteAsync(book.Id);
		books.Remove(book);
	}
}
