@page "/"

<PageTitle>Bibliotekssystem</PageTitle>

<h1>Välkommen till Bibliotekssystemet</h1>

<p>Hantera böcker, medlemmar och lån.</p>

<ul>
    <li><a href="books">Böcker</a></li>
    <li><a href="members">Medlemmar</a></li>
    <li><a href="loans">Lån</a></li>
</ul>