@page "/members"
@using LibrarySystem.Core
@using LibrarySystem.Data.Interfaces
@inject IMemberRepository MemberRepo
@rendermode InteractiveServer

<EditForm Model="newMember" OnValidSubmit="AddMember">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<InputText @bind-Value="newMember.Name" placeholder="Name" />
	<InputText @bind-Value="newMember.MembershipID" placeholder="ID" />
	<button type="submit">Lägg till</button>
</EditForm>

@foreach (var member in members)
{
	<p>@member.Name - @member.MembershipID <button @onclick="() => DeleteMember(member)">Ta bort</button></p>
}


@code {
	private List<Member> members = new();

	protected override async Task OnInitializedAsync()
	{
		members = await MemberRepo.GetAllAsync();
	}

	private Member newMember = new Member("", "", true);

	private async Task AddMember()
	{
		await MemberRepo.AddAsync(newMember);
		members.Add(newMember);
		newMember = new Member("", "", true);
	}
	private async Task DeleteMember(Member member)
	{
		await MemberRepo.DeleteAsync(member.Id);
		members.Remove(member);
	}
}
